{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}
<main class="content" role="main">
    {{#author}}
        <header class="main-header vertical-header author-head {{#if cover}}" style="background-image: url({{cover}}){{else}}no-cover{{/if}}">
            <div class="vertical">
                <section class="author-profile inner align-center">
                    {{#if image}}
                        <figure class="author-image">
                            <div class="image" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
                        </figure>
                    {{/if}}
                    <h1 class="author-title">{{name}}</h1>
                    <span class="author-postcount">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
                </section>
            </div>
        </header>
        {{#if bio}}
        <section class="author-profile inner">
            <div class="author-meta">
                <blockquote>
                    <p>{{bio}}</p>
                </blockquote>
            </div>
        </section>
        {{/if}}
    {{/author}}

    {{> preview}}
</main>